.backbtn {
    margin-left: 8%;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    font-size: 30pt;
    cursor: pointer;
}

.newcardbtn {
    margin: auto;
    width: 10%;
    height: 40%;
}