.card {
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
    width: 25%;
    max-width: 80%;
    min-height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: transform 0.1s;
    font-size: 10pt;
    flex-direction: column;
    background-color: #f4fdf4;

}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin: 0;
}

.card:hover {
    transform: scale(1.04);
}


.card h3, .card p {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    margin: 5px 0; 
}