.gif-modal {
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #21262d;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column; /* Organize content vertically */
    align-items: center; /* Center-align the items */
    overflow-y: auto;
    max-height: 80vh;
}

.search-bar {
    width: 100%; /* Full width of the modal content */
    margin-bottom: 20px; /* Space between search bar and GIF grid */
}

.gif-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%; /* Full width of the modal content */
    overflow-y: auto; /* Scrollable GIF grid */
    max-height: 65vh; /* Adjust based on the space taken by the search bar */
}

.gif-item {
    width: 23%;
    margin: 1%;
    cursor: pointer;
    transition: transform 0.2s;
}

.gif-item:hover {
    transform: scale(1.1);
}

/* Styling for the search input */
.search-input {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    width: 60%; /* Adjust based on preference */
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}