body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e8f4ea;
  width: 100%;
  justify-content: center;
}

button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  font-size: 8pt;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #777;
  color: white;
}